<DOCTYPE html>
{% load static %}

<html> 
  <title>Beat The Queue!! </title>

<head

   <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" />
   <link href="http://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
   <link rel="stylesheet" href="{% static "css/style.css" %}" media="screen" type="text/css" />
   <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/bootstrap-2.3.2.min.css" />
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
   <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js'></script>
   <script type='text/javascript' src='https://s3.amazonaws.com/dynatable-docs-assets/js/highcharts.js'></script>
   <script src= "{% static "/static/js/main.js" %}"></script>
</head>

  <body>

  <div class="top_buttons">

  </div>

  <div class="forms" style="margin:auto;width:70%;">

  </div>

  <div class="entry_form" style="margin:auto;width:65%;">

  </div>
  <div class="hidden_forms" style="display: none;">
  </div>
  <div class="container">
     <div id="faviourite_list">
       <table id = "fav_table">
	 <thead>
	   <th>id</th>
	   <th>vendor</th>
	 </thead>
       </table>
     </div>
    <button id="get_menu"> menu </button>
    <!-- {% verbatim %} -->
    <!-- <div ng-app="" ng-controller="namesControl"> -->
    <!--   First Name: <input type= "text" ng-model="firstname"><br> -->
    <!--   Last Name: <input type= "text" ng-model="lastname"><br> -->
    <!--   <br> -->
    <!--   Full Name: {{fullname()}} -->
    <!-- </div> -->
    <!-- {% endverbatim %} -->
    <table id = "my_aj_table">
      <thead>
	<th> price </th>
	<th> item </th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  </body>

</html>
